#!/bin/sh

# Use below style for Qt5 apps
export QT_STYLE_OVERRIDE=adwaita-dark

# Make Qt5 apps use GTK configurations
export XDG_CURRENT_DESKTOP=GNOME

# Disable mouse acceleration
for i in $(xinput list --id-only); do
    if xinput --list-props "$i" | grep -q "libinput Accel Profile Enabled"; then
        xinput --set-prop "$i" 'libinput Accel Profile Enabled' 0, 1, 0
    fi
done

# Key repeat delay & rate
xset r rate 350 32

# Trigger screensaver after 10 minutes of inactivity
xset s 600

export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
